body {
    background: #212121;
    color: #e6e6e6;
}

.form-control, .list-group-item {
    background: #424242;
    border: 1px solid #5e6576;
    color: #e6e6e6;
}

.btn-default {
    color: #e6e6e6;
    background-color: #424242;
    border-color: #5e6576;
}

.btn-default:hover {
    color: #B5B5B5;
    background-color: #595959;
    border-color: #356fdd;
}
