.container {
    margin-top: 30px;
}

.alert {
    margin-top: 10px;
}

.timestamp {
    float: right;
}

li button {
    font-weight: bold;
    background: none;
    border: 0;
    color: red;
    padding: 0;
    float: right;
    margin-left: 10px;
}
li button.btn {
    padding: 2px 6px;
    margin-top: -3px;
}

.clearCompleted {
    margin-bottom: 12px;
    margin-top: -38px;
    float: right;
}
